<div class="form-group row">

    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 mdl-layout--large-screen-only">

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 parent text-center"
             ng-click="openStateCompany()"
             ng-if="contains(me.team.authorities, ['ROLE_COMPANY_UPDATE'])">
            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/company.{{iconSetType}}')">
                <div class="mdl-card__title mdl-card--expand"></div>
            </div>
            <div class="mdl-card__actions">
                <a class="card-image__filename">
                    <span>المؤسسة</span>
                </a>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 parent text-center"
             ng-show="contains(me.team.authorities, [
            'ROLE_CUSTOMER_CREATE',
            'ROLE_CUSTOMER_UPDATE',
            'ROLE_CUSTOMER_DELETE',
            'ROLE_CUSTOMER_NOTE_CREATE'
            ])"
             ng-click="openStateCustomer()">
            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/customer.{{iconSetType}}')">
                <div class="mdl-card__title mdl-card--expand"></div>
            </div>
            <div class="mdl-card__actions">
                <a class="card-image__filename">
                    <span>العملاء/الكفلاء</span>
                </a>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 parent text-center"
             ng-show="contains(me.team.authorities, [
            'ROLE_SELLER_CREATE',
            'ROLE_SELLER_UPDATE',
            'ROLE_SELLER_DELETE',
            ])"
             ng-click="openStateSeller()">
            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/seller.{{iconSetType}}')">
                <div class="mdl-card__title mdl-card--expand"></div>
            </div>
            <div class="mdl-card__actions">
                <a class="card-image__filename">
                    <span>المستثمرين</span>
                </a>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 parent text-center"
             ng-show="contains(me.team.authorities, [
            'ROLE_PRODUCT_CREATE',
            'ROLE_PRODUCT_UPDATE',
            'ROLE_PRODUCT_DELETE',
            ])"
             ng-click="openStateProduct()">
            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/product.{{iconSetType}}')">
                <div class="mdl-card__title mdl-card--expand"></div>
            </div>
            <div class="mdl-card__actions">
                <a class="card-image__filename">
                    <span>السلع</span>
                </a>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 parent text-center"
             ng-show="contains(me.team.authorities, [
            'ROLE_PRODUCT_CREATE',
            'ROLE_PRODUCT_UPDATE',
            'ROLE_PRODUCT_DELETE',
            ])"
             ng-click="openStateProductPurchase()">
            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/productPurchase.{{iconSetType}}')">
                <div class="mdl-card__title mdl-card--expand"></div>
            </div>
            <div class="mdl-card__actions">
                <a class="card-image__filename">
                    <span>المخزون</span>
                </a>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 parent text-center"
             ng-show="contains(me.team.authorities, [
            'ROLE_CONTRACT_CREATE',
            'ROLE_CONTRACT_DELETE',
            ])"
             ng-click="openStateContract()">
            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/contract.{{iconSetType}}')">
                <div class="mdl-card__title mdl-card--expand"></div>
            </div>
            <div class="mdl-card__actions">
                <a class="card-image__filename">
                    <span>العقود</span>
                </a>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 parent text-center"
             ng-show="contains(me.team.authorities, [
            'ROLE_CONTRACT_PREMIUM_CREATE',
            'ROLE_CONTRACT_PREMIUM_UPDATE',
            'ROLE_CONTRACT_PREMIUM_DELETE',
            ])"
             ng-click="openStateContractPremium()">
            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/contractPremium.{{iconSetType}}')">
                <div class="mdl-card__title mdl-card--expand"></div>
            </div>
            <div class="mdl-card__actions">
                <a class="card-image__filename">
                    <span>الأقساط</span>
                </a>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 parent text-center"
             ng-show="contains(me.team.authorities, [
            'ROLE_CONTRACT_PAYMENT_CREATE',
            'ROLE_CONTRACT_PAYMENT_UPDATE',
            'ROLE_CONTRACT_PAYMENT_DELETE',
            ])"
             ng-click="openStateContractPayment()">
            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/contractPayment.{{iconSetType}}')">
                <div class="mdl-card__title mdl-card--expand"></div>
            </div>
            <div class="mdl-card__actions">
                <a class="card-image__filename">
                    <span>الدفعات</span>
                </a>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 parent text-center"
             ng-click="openStateBankTransaction()"
             ng-if="contains(me.team.authorities, ['ROLE_COMPANY_UPDATE'])">
            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/bankTransaction.{{iconSetType}}')">
                <div class="mdl-card__title mdl-card--expand"></div>
            </div>
            <div class="mdl-card__actions">
                <a class="card-image__filename">
                    <span>المعاملات المالية</span>
                </a>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 parent text-center"
             ng-click="openStatePerson()"
             ng-if="contains(me.team.authorities, [
             'ROLE_PERSON_CREATE',
             'ROLE_PERSON_UPDATE',
             'ROLE_PERSON_DELETE'
             ])">
            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/person.{{iconSetType}}')">
                <div class="mdl-card__title mdl-card--expand"></div>
            </div>
            <div class="mdl-card__actions">
                <a class="card-image__filename">
                    <span>المستخدمين</span>
                </a>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 parent text-center"
             ng-click="openStateTeam()"
             ng-if="contains(me.team.authorities, [
             'ROLE_TEAM_CREATE',
             'ROLE_TEAM_UPDATE',
             'ROLE_TEAM_DELETE'
             ])">
            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/team.{{iconSetType}}')">
                <div class="mdl-card__title mdl-card--expand"></div>
            </div>
            <div class="mdl-card__actions">
                <a class="card-image__filename">
                    <span>الصلاحيات</span>
                </a>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 parent text-center"
             ng-click="openStateReport()">
            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/report.{{iconSetType}}')">
                <div class="mdl-card__title mdl-card--expand"></div>
            </div>
            <div class="mdl-card__actions">
                <a class="card-image__filename">
                    <span>التقارير</span>
                </a>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 parent text-center"
             ng-click="openStateProfile()">
            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/profile.{{iconSetType}}')">
                <div class="mdl-card__title mdl-card--expand"></div>
            </div>
            <div class="mdl-card__actions">
                <a class="card-image__filename">
                    <span>الملف الشخصي</span>
                </a>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 parent text-center"
             ng-click="openStateAbout()">
            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/about.{{iconSetType}}')">
                <div class="mdl-card__title mdl-card--expand"></div>
            </div>
            <div class="mdl-card__actions">
                <a class="card-image__filename">
                    <span>عن البرنامج</span>
                </a>
            </div>
        </div>

    </div>

    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-6">

        <div class="form-group row">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title-box pull-right">
                        <h3>اجراءات سريعة</h3>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="form-group row">

                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 parent text-center"
                             ng-click="newCustomer()"
                             ng-if="contains(me.team.authorities, ['ROLE_CUSTOMER_CREATE'])">
                            <div class="card-image mdl-card"
                                 style="background-image: url('/ui/img/{{iconSet}}/add.{{iconSetType}}'); background-size: 30px 30px !important; width: 30px!important; height: 30px!important;">
                                <div class="mdl-card__title mdl-card--expand"></div>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="card-image__filename">
                                    <span>عميل جديد</span>
                                </a>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 parent text-center"
                             ng-click="newSeller()"
                             ng-if="contains(me.team.authorities, ['ROLE_SELLER_CREATE'])">
                            <div class="card-image mdl-card"
                                 style="background-image: url('/ui/img/{{iconSet}}/add.{{iconSetType}}'); background-size: 30px 30px !important; width: 30px!important; height: 30px!important;">
                                <div class="mdl-card__title mdl-card--expand"></div>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="card-image__filename">
                                    <span>مستثمر جديد</span>
                                </a>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 parent text-center"
                             ng-click="newParent()"
                             ng-if="contains(me.team.authorities, ['ROLE_PRODUCT_CREATE'])">
                            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/add.{{iconSetType}}'); background-size: 30px 30px !important; width: 30px!important; height: 30px!important;">
                                <div class="mdl-card__title mdl-card--expand"></div>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="card-image__filename">
                                    <span>تصنيف رئيسي جديد</span>
                                </a>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 parent text-center"
                             ng-click="newProduct()"
                             ng-if="contains(me.team.authorities, ['ROLE_PRODUCT_CREATE'])">
                            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/add.{{iconSetType}}'); background-size: 30px 30px !important; width: 30px!important; height: 30px!important;">
                                <div class="mdl-card__title mdl-card--expand"></div>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="card-image__filename">
                                    <span>تصنيف فرعي جديد</span>
                                </a>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 parent text-center"
                             ng-click="newProductPurchase()"
                             ng-if="contains(me.team.authorities, ['ROLE_PRODUCT_PURCHASE_CREATE'])">
                            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/add.{{iconSetType}}'); background-size: 30px 30px !important; width: 30px!important; height: 30px!important;">
                                <div class="mdl-card__title mdl-card--expand"></div>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="card-image__filename">
                                    <span>شراء سلع</span>
                                </a>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 parent text-center"
                             ng-click="newContract()"
                             ng-if="contains(me.team.authorities, ['ROLE_CONTRACT_CREATE'])">
                            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/add.{{iconSetType}}'); background-size: 30px 30px !important; width: 30px!important; height: 30px!important;">
                                <div class="mdl-card__title mdl-card--expand"></div>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="card-image__filename">
                                    <span>عقد جديد</span>
                                </a>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 parent text-center"
                             ng-click="newOldContract()"
                             ng-if="contains(me.team.authorities, ['ROLE_CONTRACT_CREATE'])">
                            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/add.{{iconSetType}}'); background-size: 30px 30px !important; width: 30px!important; height: 30px!important;">
                                <div class="mdl-card__title mdl-card--expand"></div>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="card-image__filename">
                                    <span>عقد قديم</span>
                                </a>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 parent text-center"
                             ng-click="newPremium()"
                             ng-if="contains(me.team.authorities, ['ROLE_CONTRACT_PREMIUM_CREATE'])">
                            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/add.{{iconSetType}}'); background-size: 30px 30px !important; width: 30px!important; height: 30px!important;">
                                <div class="mdl-card__title mdl-card--expand"></div>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="card-image__filename">
                                    <span>قسط جديد</span>
                                </a>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 parent text-center"
                             ng-click="ModalProvider.openDepositCreateModel()"
                             ng-if="contains(me.team.authorities, ['ROLE_DEPOSIT_CREATE'])">
                            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/deposit.{{iconSetType}}'); background-size: 30px 30px !important; width: 30px!important; height: 30px!important;">
                                <div class="mdl-card__title mdl-card--expand"></div>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="card-image__filename">
                                    <span>إيداع</span>
                                </a>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 parent text-center"
                             ng-click="ModalProvider.openWithdrawCreateModel()"
                             ng-if="contains(me.team.authorities, ['ROLE_WITHDRAW_CREATE'])">
                            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/withdraw.{{iconSetType}}'); background-size: 30px 30px !important; width: 30px!important; height: 30px!important;">
                                <div class="mdl-card__title mdl-card--expand"></div>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="card-image__filename">
                                    <span>سحب</span>
                                </a>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 parent text-center"
                             ng-click="ModalProvider.openTransferCreateModel()"
                             ng-if="contains(me.team.authorities, ['ROLE_TRANSFER_CREATE'])">
                            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/send.{{iconSetType}}'); background-size: 30px 30px !important; width: 30px!important; height: 30px!important;">
                                <div class="mdl-card__title mdl-card--expand"></div>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="card-image__filename">
                                    <span>تحويل</span>
                                </a>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 parent text-center"
                             ng-click="ModalProvider.openWithdrawCashCreateModel()"
                             ng-if="contains(me.team.authorities, ['ROLE_TRANSFER_CREATE'])">
                            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/cash_outgoings.{{iconSetType}}'); background-size: 30px 30px !important; width: 30px!important; height: 30px!important;">
                                <div class="mdl-card__title mdl-card--expand"></div>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="card-image__filename">
                                    <span>مصاريف</span>
                                </a>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 parent text-center"
                             ng-click="newPerson()"
                             ng-if="contains(me.team.authorities, ['ROLE_PERSON_CREATE'])">
                            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/add.{{iconSetType}}'); background-size: 30px 30px !important; width: 30px!important; height: 30px!important;">
                                <div class="mdl-card__title mdl-card--expand"></div>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="card-image__filename">
                                    <span>مستخدم جديد</span>
                                </a>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 parent text-center"
                             ng-click="newTeam()"
                             ng-if="contains(me.team.authorities, ['ROLE_TEAM_CREATE'])">
                            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/add.{{iconSetType}}'); background-size: 30px 30px !important; width: 30px!important; height: 30px!important;">
                                <div class="mdl-card__title mdl-card--expand"></div>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="card-image__filename">
                                    <span>صلاحيات جديدة</span>
                                </a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <div class="form-group row">

            <div class="panel panel-danger">
                <div class="panel-heading">
                    <ul class="panel-controls pull-left" style="margin-top: 2px;">
                        <li>
                            <a href=""
                               ng-click="findLatePremiums()"
                               tooltip-append-to-body="true"
                               uib-tooltip="تحديث">
                                <img class="material-icons mdl-list__item-icon"
                                     ng-src="/ui/img/{{iconSet}}/refresh.{{iconSetType}}"
                                     width="24"
                                     height="24">
                            </a>
                        </li>
                    </ul>
                    <div class="panel-title-box pull-right">
                        <h3>الأقساط المتأخرة</h3>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="form-group row">

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>

                                    <th>
                                        <span>رقم العقد</span>
                                    </th>

                                    <th>
                                        <span>العميل</span>
                                    </th>

                                    <th>
                                        <span>تاريخ الاستحقاق</span>
                                    </th>

                                    <th>
                                        <span>الباقي</span>
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="contractPremium in latePremiums" context-menu="rowMenuLatePremium">
                                    <td>
                                        <a href="" ng-click="ModalProvider.openContractDetailsModel(contractPremium.contract)">
                                            <span>{{contractPremium.contract.code}}</span>
                                        </a>
                                    </td>
                                    <td>
                                        <span>{{contractPremium.contract.customer.contact.shortName}}</span>
                                        <br/>
                                        <span class="label label-info">{{contractPremium.contract.customer.contact.mobile}}</span>
                                    </td>
                                    <td>
                                        <span ng-if="dateType==='H'">{{contractPremium.dueDate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                        <span ng-if="dateType==='G'">{{contractPremium.dueDate | date: 'yyyy-MM-dd'}}</span>
                                    </td>
                                    <td>{{contractPremium.remain | currency:'':2}}</td>
                                </tr>
                                <tr class="blank_row no-print" style="height: 10px !important; background-color: #FFFFFF;"
                                    ng-if="!latePremiums || latePremiums.length ==0">
                                    <td colspan="4">
                                        <p>
                                            <span>لا نتائج</span>
                                        </p>
                                    </td>
                                </tr>
                                <tr ng-if="latePremiums.length > 0">
                                    <td class="info" colspan="3">
                                        <span class="pull-left">المجموع الكلي(جميع القيم بالريال السعودي)</span>
                                    </td>
                                    <td class="success" colspan="1">{{latePremiums | sumByKey:'remain' | currency:'':2}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <div class="form-group row">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <ul class="panel-controls pull-left" style="margin-top: 2px;">
                        <li>
                            <a href=""
                               ng-click="findLatePremiums()"
                               tooltip-append-to-body="true"
                               uib-tooltip="تحديث">
                                <img class="material-icons mdl-list__item-icon"
                                     ng-src="/ui/img/{{iconSet}}/refresh.{{iconSetType}}"
                                     width="24"
                                     height="24">
                            </a>
                        </li>
                    </ul>
                    <div class="panel-title-box pull-right">
                        <h3>عملاء الشهر</h3>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="form-group row">

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>

                                    <th>
                                        <span>الاسم</span>
                                    </th>

                                    <th>
                                        <span>رقم الهوية</span>
                                    </th>

                                    <th>
                                        <span>الجوال</span>
                                    </th>

                                    <th>
                                        <span>إجمالي العقود</span>
                                    </th>

                                    <th>
                                        <span>المدفوع</span>
                                    </th>

                                    <th>
                                        <span>المتبقي</span>
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="customer in customers" context-menu="rowMenuCustomer">
                                    <td>
                                        <span class="label label-success no-print">{{customer.enabled ? 'مفعل' : ''}}</span>
                                        <span class="label label-danger no-print">{{customer.enabled ? '' : 'معطل'}}</span>
                                        {{customer.contact.shortName}}
                                    </td>
                                    <td>{{customer.contact.identityNumber}}</td>
                                    <td>{{customer.contact.mobile}}</td>
                                    <td>{{customer.contractsTotalPrice | currency:' SAR ':2}}</td>
                                    <td>{{customer.contractsPaid | currency:' SAR ':2}}</td>
                                    <td>{{customer.contractsRemain | currency:' SAR ':2}}</td>
                                </tr>
                                <tr class="blank_row no-print" style="height: 10px !important; background-color: #FFFFFF;"
                                    ng-if="!customers || customers.length ==0">
                                    <td colspan="10">
                                        <p ng-if="contains(me.team.authorities, ['ROLE_CUSTOMER_CREATE'])">
                                            <span>لا يوجد عملاء أو كفلاء حتى الآن، يمكنك التسجيل من خلال هذا الرابط </span>
                                            <a href="" ng-click="newCustomer()">اضغط هنا</a>
                                        </p>
                                    </td>
                                </tr>
                                <tr ng-if="customers.length > 0">
                                    <td class="info" colspan="7">
                                        <span class="pull-left">المجموع الكلي</span>
                                    </td>
                                    <td class="success" colspan="1">{{customers | sumByKey:'contractsTotalPrice' | currency:' SAR ':2}}</td>
                                    <td class="success" colspan="1">{{customers | sumByKey:'contractsPaid' | currency:' SAR ':2}}</td>
                                    <td class="success" colspan="1">{{customers | sumByKey:'contractsRemain' | currency:' SAR ':2}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

</div>