<form name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header mdl-color--primary mdl-navigation__link-active">
        <a class="pull-left" href="" ng-click="cancel()">
            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
        </a>
        <h3 class="panel-title mdl-list__item pull-right mdl-color-text--white">
            <span class="mdl-list__item-primary-content">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/contract.{{iconSetType}}" width="24" height="24">
                <strong>تعديل بيانات العقد رقم / </strong>
                <span class="label label-info">{{contract.code}}</span>
            </span>
        </h3>
    </div>

    <div class="modal-body modal-body-free" id="modal-body">

        <div class="row">

            <div class="form-group row">

                <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

                    <div class="mdl-tabs__tab-bar">

                        <a href="#panel-1-contract" class="mdl-tabs__tab col-xs-4 col-sm-4 col-md-4 col-lg-4 is-active">
                            <span>المعلومات الأساسية</span>
                        </a>

                    </div>

                    <div class="mdl-tabs__panel is-active" id="panel-1-contract">

                        <div class="form-group row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="alert alert-info" role="alert">
                                    <strong>العميل / </strong>
                                    {{contract.customer.contact.shortName}}
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="alert alert-info" role="alert">
                                    <strong>المستثمر / </strong>
                                    {{contract.seller.contact.shortName}}
                                </div>
                            </div>

                        </div>

                        <div class="form-group row" ng-show="form.$invalid && form.$submitted">
                            <div class="alert alert-danger" role="alert">
                                <strong>فضلاً اكمل الحقول المطلوبة</strong>
                            </div>
                        </div>

                        <div class="form-group row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-3">
                                <label for="code" class="control-label">رقم العقد</label>
                                <div dir="ltr" class="input-group" id="code">
                                    <span class="input-group-addon">غير مكرر</span>
                                    <input dir="rtl"
                                           type="number"
                                           min="1"
                                           class="form-control"
                                           placeholder="اجباري"
                                           required="required"
                                           disable-validation-message=""
                                           ng-model="contract.code">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-3">
                                <label for="discount" class="control-label">الخصم</label>
                                <div dir="ltr" class="input-group" id="discount">
                                    <span class="input-group-addon">ريال سعودي</span>
                                    <input dir="rtl"
                                           type="number"
                                           min="0"
                                           class="form-control"
                                           required="required"
                                           disable-validation-message=""
                                           ng-change="findRemainPrice()"
                                           placeholder="اجباري"
                                           ng-model="contract.discount">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-3" ng-init="buffer.calendar='H'">
                                <label for="calendar" class="control-label">نوع التقويم</label>
                                <select id="calendar"
                                        style="height: 40px"
                                        class="form-control"
                                        ng-model="buffer.calendar"
                                        required="required"
                                        disable-validation-message="">
                                    <option value="H">تقويم هجري</option>
                                    <option value="G">تقويم ميلادي</option>
                                </select>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-3" ng-if="buffer.calendar==='H'">
                                <label for="dateFrom" class="control-label">تاريخ كتابة العقد</label>
                                <div dir="ltr" class="input-group">
                                    <input dir="rtl"
                                           id="dateFrom"
                                           type="text"
                                           class="form-control is-calendarPicker"
                                           ng-model="contract.writtenDate"
                                           calendarType="ummalqura"
                                           language="en"
                                           dateFormat="yyyy/mm/dd"
                                           showOnFocus="false"
                                           readonly="readonly"
                                           required="required"
                                           disable-validation-message=""
                                           kdatepicker>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-3" ng-if="buffer.calendar==='G'">
                                <label for="G-dateFrom" class="control-label">تاريخ كتابة العقد</label>
                                <input id="G-dateFrom"
                                       class="form-control"
                                       dir="ltr"
                                       type="text"
                                       name="input"
                                       required="required"
                                       disable-validation-message=""
                                       ng-model="contract.writtenDate"
                                       datetime="yyyy-MM-dd"/>
                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-3" ng-init="buffer.calendar2='H'">
                                <label for="calendar2" class="control-label">نوع التقويم</label>
                                <select id="calendar2"
                                        style="height: 40px"
                                        class="form-control"
                                        ng-model="buffer.calendar2"
                                        required="required"
                                        disable-validation-message="">
                                    <option value="H">تقويم هجري</option>
                                    <option value="G">تقويم ميلادي</option>
                                </select>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-3" ng-if="buffer.calendar2==='H'">
                                <label for="premiumStartDate" class="control-label">تاريخ بداية القسط</label>
                                <div dir="ltr" class="input-group">
                                    <input dir="rtl"
                                           id="premiumStartDate"
                                           type="text"
                                           class="form-control is-calendarPicker"
                                           ng-model="contract.premiumStartDate"
                                           calendarType="ummalqura"
                                           language="en"
                                           dateFormat="yyyy/mm/dd"
                                           showOnFocus="false"
                                           readonly="readonly"
                                           required="required"
                                           disable-validation-message=""
                                           kdatepicker>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-3" ng-if="buffer.calendar2==='G'">
                                <label for="G-premiumStartDate" class="control-label">تاريخ بداية القسط</label>
                                <input id="G-premiumStartDate"
                                       class="form-control"
                                       dir="ltr"
                                       type="text"
                                       name="input"
                                       ng-model="contract.premiumStartDate"
                                       required="required"
                                       disable-validation-message=""
                                       datetime="yyyy-MM-dd"/>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-3">
                                <label for="premiumAmount" class="control-label">مقدار القسط</label>
                                <div dir="ltr" class="input-group" id="premiumAmount">
                                    <span class="input-group-addon">ريال سعودي</span>
                                    <input dir="rtl"
                                           type="number"
                                           min="0"
                                           class="form-control"
                                           required="required"
                                           disable-validation-message=""
                                           placeholder="اجباري"
                                           ng-model="contract.premiumAmount">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-3">
                                <label for="advancedAmount" class="control-label">دفعة مقدمة</label>
                                <div dir="ltr" class="input-group" id="advancedAmount">
                                    <span class="input-group-addon">ريال سعودي</span>
                                    <input dir="rtl"
                                           type="number"
                                           min="0"
                                           class="form-control"
                                           required="required"
                                           disable-validation-message=""
                                           placeholder="اجباري"
                                           ng-model="contract.advancedAmount">
                                </div>
                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-3">
                                <label for="paperFees" class="control-label">الرسوم الإدارية</label>
                                <div dir="ltr" class="input-group" id="paperFees">
                                    <span class="input-group-addon">ريال سعودي</span>
                                    <input dir="rtl"
                                           type="number"
                                           min="0"
                                           class="form-control"
                                           placeholder="اختياري"
                                           ng-model="contract.paperFees">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-3">
                                <label for="commissionFees" class="control-label">عمولة العقد</label>
                                <div dir="ltr" class="input-group" id="commissionFees">
                                    <span class="input-group-addon">ريال سعودي</span>
                                    <input dir="rtl"
                                           type="number"
                                           min="0"
                                           class="form-control"
                                           placeholder="اختياري"
                                           ng-model="contract.commissionFees">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-3">
                                <label for="lawFees" class="control-label">رسوم المحاماة</label>
                                <div dir="ltr" class="input-group" id="lawFees">
                                    <span class="input-group-addon">ريال سعودي</span>
                                    <input dir="rtl"
                                           type="number"
                                           min="0"
                                           class="form-control"
                                           placeholder="اختياري"
                                           ng-model="contract.lawFees">
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="تعديل"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/edit.{{iconSetType}}" width="24" height="24">
            </button>
            <button uib-tooltip="مسح الحقول"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/delete.{{iconSetType}}" width="24" height="24">
            </button>
            <button uib-tooltip="خروج"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
            </button>
        </div>

    </div>

</form>